    <a href="/users/<%= tweet.user_id %>">
      <span>投稿者</span> <%= tweet.user.nickname %>
    </a>
  <%= simple_format(tweet.text) %>
    <ul class="list"><br />
      <li class="list1">
        <%= link_to "SHOW", tweet_path(tweet.id), method: :get %>
      </li>
      <% if user_signed_in? && current_user.id == tweet.user_id %>
        <li class="list2">
          <%= link_to 'EDIT', "/tweets/#{tweet.id}/edit", method: :get %>
        </li>
        <li class="list3">
          <%= link_to 'DESTROY', "/tweets/#{tweet.id}", method: :delete %>
        </li>
      <% end %>
    </ul><br /><br />
